In [2]:
import pandas as pd

In [12]:

df = pd.read_csv('turning_data_for_ai_simulations_items.csv')
df = df.dropna()
df.head()

,Item Id,Material Length (mm),Operation Time Per PC,Unit for Operation Time,Machine Id,FORECAST_YEAR,Current FIXED_LOT_SIZE (This should be optimized),Consumed January,Consumed February,Consumed March,...,Consumed May,Consumed June,Consumed July,Consumed August,Consumed September,Consumed October,Consumed November,Consumed December,Consumed Total 2024:,Actual vs. FC
0,1,13,3.480,MIN,55235206,6941,493,603,430,598,...,612,497,166,277,415,610,300,169,5262,-1679
1,2,24,4.610,MIN,55235207,5007,528,562,494,466,...,525,542,51,372,345,614,438,319,5447,440
2,3,13,3.030,MIN,55235206,4982,419,307,270,412,...,540,323,201,295,486,558,107,337,4277,-705
3,4,53,5.091,MIN,55235206,4308,440,585,568,570,...,572,0,591,0,577,0,561,573,5168,860
4,5,26,4.810,MIN,55235207,4064,581,320,360,240,...,241,193,200,241,292,321,280,280,3349,-715

In [14]:
df.keys()

Index(['Item Id', 'Material Length (mm)', 'Operation Time Per PC',
       'Unit for Operation Time', 'Machine Id', 'FORECAST_YEAR',
       'Current FIXED_LOT_SIZE (This should be optimized)', 'Consumed January',
       'Consumed February', 'Consumed March', 'Consumed April', 'Consumed May',
       'Consumed June', 'Consumed July', 'Consumed August',
       'Consumed September', 'Consumed October', 'Consumed November',
       'Consumed December', 'Consumed Total 2024:', 'Actual vs. FC'],
      dtype='object')

## variable selection

In [15]:
data = pd.DataFrame()
data["process_time"] = df["Operation Time Per PC"]
data["demand"] = df["Consumed January"]

In [16]:
data.head()

   process_time  demand
0         3.480     603
1         4.610     562
2         3.030     307
3         5.091     585
4         4.810     320